#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.paragraph{
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0  2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.skillsBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 70rem;
    text-align: left;
    width: 100vw;
    max-width: 40rem;
}
.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);

}
.skillsImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;

}
.skillBarText>p{
    font-size: 0.9rem;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.skillBarText>h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
@media screen and (max-width:720px) {
    .skillBarText>p{
        font-size:2vw;
    }
}
@media screen and (max-width:480px) {
    .skillBarText>p{
        font-size:3vw;
    }
    .skillsImg{
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2{
        font-size: 5vw;
    }


}
